<footer>
    <center>
          <tr><p style="text-align: center">CopyRight &copy; PMS </p></tr>
          <tr><p style="text-align: center"> BY Arjun Sehgal </p></tr>
 
    </center>
     </footer>
   </body>
 </html>

